html {
    height:100%;
}

body {
  min-height: 100%;
  min-width: 320px;
  font-family: "Open Sans",sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.5;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
  background-color: transparent;
  color: #2d353c;
  margin: 0px;
  border: 10px solid transparent;
  letter-spacing: 0;
  -webkit-font-smoothing: antialiased;
}

body:before {
  content:'';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #94525a;
  background: -webkit-radial-gradient(farthest-corner at 95% 10%, #12e0e0, #55d1de);
  background: radial-gradient(farthest-corner at 95% 10%, #12e0e0, #55d1de);
  line-height: 2;
}

.appHeader {
    height: 50px;
    width: 500px;
    margin-left: 60px;
    padding-top: 35px;
    font-size: 20px;
    font-weight: bold;
}

.headerRow {
  margin-bottom: 0;
  border: 0;
  top: 0;
  height: 70px;
  width: 100%;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  line-height: 0;
}

.Menu {
  display: inline-block;
  color: #93979b !important;
  background-color: #2d353c;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 0px;
  float: left;
  height: 100%;
  width: 150px;

}

.menu_item {
  width: 70%;
  margin-left: 10px;
  font-size: 12.5px;
  display: block;
  padding-left: 10px;
  padding-top:7px;
  padding-bottom:7px;
  color: #b7b1b1;
  text-decoration: none
}

a:hover {
  color: #fdfdfd !important;
}

.wrapper{
  border-radius: 5px;
  margin-bottom: 10px;
  position: absolute;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  min-height: 600px;
  min-width: 960px;
  background-color: #d9e0e7;
  box-shadow: 0 3px 20px #000;
  box-sizing: border-box;
  background-clip: content-box;
  overflow: hidden;
}

.row {
    margin-left: 10px;
    margin-right: 10px;
    margin-top:5px;
    margin-bottom: 10px;
    display: block;
    flex-wrap: wrap;
    

}

.columnHeader {
    font-size: 10px!important;
    margin-bottom: 10px!important;
    margin-top: 10px!important;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    box-sizing: border-box;
}

.columnCard {
    border: 0!important;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 4px;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
    margin-right: .25rem!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}
.btn-lang {
    width: 200px;
    margin-left:auto;
    padding-left: 50px;
    padding-top: 15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}